PLAYWRIGHT_BASE_URL=http://gorev.test
PLAYWRIGHT_ADMIN_EMAIL=admin@admin.com
PLAYWRIGHT_ADMIN_PASSWORD=password
PLAYWRIGHT_VICE_MAYOR_EMAIL=aydemircan@kirklareli.bel.tr
PLAYWRIGHT_VICE_MAYOR_PASSWORD=password
PLAYWRIGHT_MANAGER_EMAIL=fen-isleri-mudurlugu@kirklareli.bel.tr
PLAYWRIGHT_MANAGER_PASSWORD=password
PLAYWRIGHT_DEMO_MANAGER_EMAIL=sunum-mudur@kirklareli.bel.tr
PLAYWRIGHT_DEMO_MANAGER_PASSWORD=password
PLAYWRIGHT_DEMO_FOREMAN_EMAIL=sunum-saha@kirklareli.bel.tr
PLAYWRIGHT_DEMO_FOREMAN_PASSWORD=password
PLAYWRIGHT_SLOW_MO=0
PLAYWRIGHT_VIDEO=1
